<div class="card" id="cards">
    <div class="face face1">
        <div class="content">
            <img src="<%=product.imageUrl%>" alt="<%=product.title%>">
            <h3><%=product.title%></h3>
            <h4> $ <%=product.price%></h4>
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <p><%=product.description%></p>
            <button  data-productid="<%= product.id %>" data-csrf="<%= locals.csrfToken %>" >Add To Cart</button>
        </div>
    </div>
</div>