<%- include('../../includes/head', { pageTitle: 'Signup' }) %>
  <link rel="stylesheet" href="/styles/login.signup.css">
  </head>

  <%- include('../../includes/header') %>

<body>
  <!-- partial:index.partial.html -->
  <div class="login-box">
    <h1>Login</h1>
    <% if(data.message) {%>
      <section>
        <h2>Invalid Input</h2>
        <p><%= data.message  %></p>
      </section>
      <% } %>
    <form action="/login" method="post">
      <input type="hidden" name="_csrf" value="<%= locals.csrfToken  %>">
      <div class="user-box">
        <input type="email" name="email" value="<%= data.email %>" required>
        <label>E-Mail</label>
      </div>
      <div class="user-box">
        <input type="password" name="password" value="<%= data.password %>" required>
        <label>Password</label>
      </div>
      <button>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </button>

      <div class="user-box">
        <p id="switch-form"><a href="/signup">Signup instead ?</a></p>
      </div>

    </form>
  </div>
  <!-- partial -->

</body>

</html>
<!-- partial -->

</body>

</html>